@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="col">
    <div class="row">
        @if (!Model.People.Any())
        {
            <p class="lead">
                No people exist yet, Maybe try adding one?
            </p>
        }
        else
        {
            <form method="post">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Created Date</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var person in Model.People)
                        {
                            <tr>
                                <th scope="row">@person.Id</th>
                                <td>@person.FirstName</td>
                                <td>@person.LastName</td>
                                <td>@person.Created</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a asp-page="./edit" asp-route-id="@person.Id" class="btn btn-primary">Edit</a>
                                        <button type="submit" asp-page-handler="delete" asp-route-id="@person.Id">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </form>
        }
    </div>
    <div class="row">
        <a asp-page="./create" class="btn btn-outline-dark">Add a new Person</a>
    </div>
</div>

